name: Docker Build and Deploy

on:
  push:
    branches: [ "devops" ]

jobs:
  build-and-run:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: |
          docker build -t toss-game-image -f devops/Dockerfile .

      - name: Run Docker Container
        run: |
          # 1. Stop and remove the old container
          docker stop toss-game-container || true
          docker rm toss-game-container || true
          
          # 2. Start the new container
          docker run -d \
            --name toss-game-container \
            -p 3000:3000 \
            toss-game-image

      - name: Post-Deploy Cleanup
        run: |
          # Remove "dangling" images (unused layers from previous builds)
          # The -f flag skips the "Are you sure?" confirmation
          docker image prune -f
          
          # Optional: Remove unused build cache to save even more space
          docker builder prune -f